
.timer {
    padding-top: 1px;
    width: 20vw;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 15px;
}

.timer_container {
   padding-top: 30%;
   margin-top: 0.3px;
   background-color: white;
   width: 20vw;
   padding: 1rem 3rem;
   border-radius: 1rem;
   box-shadow: 0 1rem -0.7rem rgb(0,0,0,0.4);
}


.stop,.restart {
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    font-size: 18px;
    background-color: skyblue;
    width: 5vw;
    height: 6vh;
    left: 2%;
    position: relative;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.stop {
    margin-left: 15px;
}
